<div class="container-fluid navbar-style py-3">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#heroid" id="logo">Vidiya Vikas College</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#heroid">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Education
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Sybus</a></li>
                                    <li><a class="dropdown-item" href="#">result</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Exam time table</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#deptid">Department</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#aboutid">About us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#contactid">Contact us</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>